/*
*
*   CSS
*
*/

/*
*   Color
*
*   #A1C3D1 blue
*   #B39BC8 purple
*   #F0EBF4 white
*   #F172A1 pink
*   #E64398 dark pink
*
*/

/* ========= FONT ========= */

@font-face {
    font-family: Ubuntu-Regular;
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    /* height: 100%; */
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 100%; */
    font-family: Ubuntu-Regular, sans-serif;
    font-size: 14px;
    position: relative;
}

input:focus, a:focus, button:focus {
    outline-style: none;
}

::-moz-selection {
    background: white;
}

::selection {
    background: white;
}

/*---------------------------------------------*/

a {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    text-decoration: none;
}

a:focus {
    outline: none !important;
    color: #1a535c;
}

a:hover {
    text-decoration: none;
    color: #1a535c;
}

/*---------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/*---------------------------------------------*/

input, textarea, select {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent;
}

input::-webkit-input-placeholder {
    color: #8f8fa1;
}

input:-moz-placeholder {
    color: #8f8fa1;
}

input::-moz-placeholder {
    color: #8f8fa1;
}

input:-ms-input-placeholder {
    color: #8f8fa1;
}

textarea::-webkit-input-placeholder {
    color: #8f8fa1;
}

textarea:-moz-placeholder {
    color: #8f8fa1;
}

textarea::-moz-placeholder {
    color: #8f8fa1;
}

textarea:-ms-input-placeholder {
    color: #8f8fa1;
}

label {
    display: block;
    margin: 0;
}

/*---------------------------------------------*/

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/*---------------------------------------------*/

.dark-pink {
    color: #E64398 !important;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.input {
    display: block;
    position: relative;
    width: 100%;
    font-family: Ubuntu-Bold;
    color: #B39BC8;
    line-height: 1.2;
    font-size: 14px;
    height: 30px;
    background-color: #e6e6e6;
    border-radius: 3px;
    padding: 0 15px;
    margin: 0;
}

textarea.input {
    height: 30px;
    padding: 7px 15px 0 15px;
}

.preview {
    background: transparent;
    padding: 0;
}

textarea.preview {
    resize: none;
    padding: 7px 0 0 0;
}

.resizing-input input, .resizing-input span {
    font-size: 14px;
    font-family: Ubuntu-Bold;
    white-space: pre;
}

.focus-input {
    position: absolute;
    display: block;
    width: calc(100% + 0px);
    height: calc(100% + 0px);
    top: 0px;
    left: 0px;
    pointer-events: none;
    border: 1px solid #E64398;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
    transform: scaleX(1.1) scaleY(1.1);
}

.input:focus+.focus-input {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.eff-focus-selection {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.actionBar .glyphicon-search {
    background-color: #B39BC8;
}

.actionBar .glyphicon-search, .actionBar .glyphicon-refresh {
    -webkit-text-stroke: 0.75px black;
}

.btn-group .glyphicon-search {
    -webkit-text-stroke: 0.75px #F0EBF4;
}

.title-wrapper {
    font-family: Ubuntu-Bold;
    font-size: 30px;
    color: #1a535c;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    display: block;
    padding-top: 60px;
    padding-left: 20px;
}

td .btn-default {
    border-color: black;
}

.command-view {
    background-color: #E64398;
}

.command-view:hover {
    background-color: #F172A1;
}

.command-edit {
    background-color: #1a535c;
}

.command-edit:hover {
    background-color: #35595f;
}

.command-delete {
    background-color: #d63b53;
}

.command-delete:hover {
    background-color: #da6375;
}

.command-edit .fa, .command-view .fa, .command-delete .fa {
    color: #f4f9f7;
}

/* ========= TABLE ========= */

.bootgrid-footer {
    z-index: -1;
}

.table {
    overflow: hidden;
    margin-bottom: 0;
}

.table th {
    font-family: Ubuntu-Bold;
    font-size: 18px;
    line-height: 1.4;
    background-color: #B39BC8;
}

.table th:active, .table th:hover {
    background: #907da1 !important;
}

.table th span, .table th {
    color: #f4f9f7;
}

.bootgrid-table tr {
    cursor: pointer;
}

.bootgrid-table td {
    font-family: Ubuntu-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.4;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f8f6ff;
}

.table-hover>tbody>tr:hover {
    background-color: rgb(230, 67, 152, 0.2);
}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 10px;
}

/* ========= PAGINATION ========= */

.pagination li a {
    border: none;
    border-radius: 50%;
    margin: 0 1px;
    color: #808080;
    cursor: pointer;
}

.pagination li:hover a {
    color: #E64398;
}

.pagination li.active a {
    color: #808080;
    background-color: transparent;
    border: 1px solid #F172A1;
}

.pagination li.active:hover a {
    color: #f4f9f7;
    background-color: #F172A1;
    border-color: #E64398;
}

.pagination li.last a, .pagination li.first a {
    border-radius: 50%;
}

.form {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.form>ul {
    font-size: 14px;
    color: #f4f9f7;
    background-color: #d63b53;
    padding: 10px 15px;
    margin-bottom: 10px;
}

input[readonly], textarea[readonly]:focus, input[readonly]:focus {
    border: 1px solid #d63b53;
}

.container-form {
    width: 100%;
    padding: 40px 0px 45px 0px;
}

.container-form .wrap-input {
    background-color: transparent;
    margin-bottom: 0px;
    position: relative;
}

.form-btn-container {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.form-btn {
    font-family: Ubuntu-Bold;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    height: 42px;
    background-color: #2892d7;
    border-radius: 3px;
    transition: all 0.4s;
}

.form-btn:hover {
    background-color: #1d699c;
}

.btn-danger {
    background-color: #d63b53;
}

.btn-danger:hover {
    background-color: #a02c3e;
}

.form-btn.btn-default {
    color: #808080;
    background-color: #f4f9f7;
    border: 1px solid #ccc;
}

.form-btn.btn-default:hover {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #808080;
}

.form-btn .fa {
    margin-right: 10px;
}

.form-btn:disabled {
    background-color: #1a535c;
}

.container-form-btn {
    margin-top: 30px;
}

.button-block {
    display: flex;
}

.button-block>* {
    margin-right: 10px;
}

.button-block>*:last-child {
    margin-right: 0px;
}

.form-space {
    margin: 30px 0;
}

label {
    font-family: Ubuntu-Regular;
    color: #808080;
    line-height: 1.2;
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.badge-danger {
    position: relative;
    background-color: #d63b53;
    margin-right: 10px;
    top: -1px;
}

.invalid-feedback {
    top: 65px;
    color: #d63b53;
    position: absolute;
}

/*-------------------- INDEX -------------------------*/

.index__fluid {
    padding-top: 64px;
    height: 100vh;
    background-color: #F172A1;
}

.index__container {
    background-color: #F0EBF4;
    display: block;
    margin: 30px auto 50px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .2);
    padding: 64px;
    max-width: 100%;
}

.table-wrapper {
    position: relative;
}

.index__container h1 {
    margin-bottom: 40px;
}

.button {
    cursor: pointer;
    position: absolute;
    padding: 3px 12px;
    margin-left: 15px;
    top: 0px;
    color: #F0EBF4;
    background-color: #B39BC8;
    font-size: 18px;
}

.button .fas {
    margin-right: 10px;
}

.button:hover {
    background-color: #907da1;
    color: #F0EBF4;
}

/*-------------------- INVOICE -------------------------*/

.btn-bar {
    position: fixed;
    display: flex;
    flex-flow: row;
    bottom: 50px;
    right: 100px;
}

.btn-round {
    height: 50px;
    width: 50px;
    color: #333;
    background-color: #F0EBF4;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.3s ease;
    border: 2px solid #F172A1;
}

.btn-round:hover {
    color: #E64398;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-round:active, .btn-round:active:focus, .btn-round:visited {
    color: #E64398;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

@media screen and (max-width: 1350px) {
    .btn-bar {
        flex-flow: column;
        right: 15 px;
    }
}

.inv__fluid {
    transition: all .7s ease;
    padding-top: 64px;
    background-color: #F172A1;
    min-height: 100vh;
}

.inv__container {
    background-color: #F0EBF4;
    display: block;
    margin: 30px auto 50px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .2);
    width: 768px;
    padding: 64px;
    background: #fff;
    max-width: 100%;
}

.inv__container h6 {
    font-size: 14px;
    color: #808080;
    font-family: Ubuntu-regular;
    margin-bottom: 5px;
}

.inv__section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.inv__header .inv__title {
    font-size: 28px;
    margin: 0;
    font-weight: 300;
    margin-bottom: 5px;
}

.inv__header h6 {
    margin-right: 7px;
}

.inv__section--one {
    height: 100px;
}

.inv__section--two {
    margin: 30px 0 0;
}

.inv__section--three {
    margin: 30px 0 0;
}

.inv__section--four {
    margin: 30px 0 0;
    flex-flow: column;
}

.inv__section--five {
    margin: 30px 0 0;
    flex-flow: column;
}

.inv__flex {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.inv__flex>div:not(:last-child) {
    margin-right: 10px;
}

.inv__flex-1 {
    flex: 22%;
}

.inv__flex-2 {
    flex: 28%;
}

.inv__date {
    margin: 0 0 0 16px;
    text-align: right;
}

.inv__dueDate {
    margin: 5px 0;
    justify-content: center;
}

.inv__dueDate>h6 {
    color: #E64398 !important;
}

.inv__description, .inv__terms {
    width: 100%;
}

.list-wrapper {
    width: 100%;
    margin-bottom: 5px;
}

.list-wrapper>div {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.inv__row {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.inv__card {
    display: flex;
}

.remove-tag {
    cursor: pointer;
    position: absolute;
    right: -25px;
    top: 2px;
    color: #E64398;
    font-size: 16px;
}

.remove-tag:hover {
    color: #333;
}

.inv__table {
    width: 100%;
}

.table__header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

.col {
    font-size: 14px;
    color: #808080;
    font-family: Ubuntu-regular;
    /* height: auto; */
    height: 30px;
}

.inv__card>div {
    margin-right: 2px;
}

.c1, .inv__card>div:nth-child(1) {
    width: 61%;
}

.c2, .inv__card>div:nth-child(2) {
    width: 9%;
}

.c3, .inv__card>div:nth-child(3) {
    width: 15%;
}

.c4 {
    width: 15%;
}

.c5 {
    width: 30%;
}

.c6 {
    width: 20%;
}

.c2, .c3, .c4, .c5, .c6 {
    text-align: right;
}

.inv__card input {
    background-color: transparent;
    border-radius: 0;
    border: 1px white dashed;
    border-bottom-color: #E64398;
    /* padding: 0 15px 0 15px; */
}

.inv__card div:not(:first-child) input {
    text-align: right;
}

.line {
    display: flex;
}

.vat {
    display: flex;
    justify-content: flex-end;
}

.vat>div {
    height: 20px;
}

.vat .input {
    padding: 0 0 0 15px;
    height: 20px;
    width: 40px;
}

#facture_VAT {
    margin: 0 3px;
}

.total {
    font-size: 18px;
    font-weight: bold;
}

.amount {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*-------------------- TOOLTIP -------------------------*/

button[data-tooltip].top:before, button[data-tooltip].top:after {
    transform: translateY(10px);
}

button[data-tooltip].top:hover:after, button[data-tooltip].top:hover:before {
    transform: translateY(0px);
}

button[data-tooltip].right:before, button[data-tooltip].right:after {
    transform: translateX(0px);
}

button[data-tooltip].right:hover:after, button[data-tooltip].right:hover:before {
    transform: translateX(10px);
}

button[data-tooltip].bottom:before, button[data-tooltip].bottom:after {
    transform: translateY(-10px);
}

button[data-tooltip].bottom:hover:after, button[data-tooltip].bottom:hover:before {
    transform: translateY(0px);
}

button[data-tooltip].left:before, button[data-tooltip].left:after {
    transform: translateX(0px);
}

button[data-tooltip].left:hover:after, button[data-tooltip].left:hover:before {
    transform: translateX(-10px);
}

button[data-tooltip] {
    position: relative;
}

button[data-tooltip]:after, button[data-tooltip]:before {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: transform 200ms ease, opacity 200ms;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 99;
}

button[data-tooltip]:before {
    content: attr(data-tooltip);
    background: #000;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button[data-tooltip]:after {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    content: '';
}

button[data-tooltip]:hover:after, button[data-tooltip]:hover:before {
    visibility: visible;
    opacity: 0.85;
    transform: translateY(0px);
}

button[data-tooltip][data-position="top"]:before {
    bottom: 100%;
    left: -30%;
    margin-bottom: 10px;
}

button[data-tooltip][data-position="top"]:after {
    border-top-color: #000;
    border-bottom: none;
    bottom: 101%;
    left: calc(50% - 6px);
    margin-bottom: 4px;
}

button[data-tooltip][data-position="left"]:before {
    top: 0%;
    right: 100%;
    margin-right: 10px;
}

button[data-tooltip][data-position="left"]:after {
    border-left-color: #000;
    border-right: none;
    top: calc(50% - 3px);
    right: 100%;
    margin-top: -6px;
    margin-right: 4px;
}

button[data-tooltip][data-position="right"]:before {
    top: -5%;
    left: 100%;
    margin-left: 10px;
}

button[data-tooltip][data-position="right"]:after {
    border-right-color: #000;
    border-left: none;
    top: calc(50% - 6px);
    left: calc(100% + 4px);
}

button[data-tooltip][data-position="bottom"]:before {
    top: 100%;
    left: -130%;
    margin-top: 10px;
}

button[data-tooltip][data-position="bottom"]:after {
    border-bottom-color: #000;
    border-top: none;
    top: 100%;
    left: 5px;
    margin-top: 4px;
}

/*-------------------- SWITCH -------------------------*/

.switch {
    margin: 4rem auto;
}

/* main styles */

.switch {
    display: flex;
    align-items: center;
    width: 24rem;
    position: relative;
}

.switch input {
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.switch input:checked {
    z-index: 1;
}

.switch input:checked+label {
    opacity: 1;
    cursor: default;
}

.switch input:not(:checked)+label:hover {
    opacity: 0.5;
}

.switch label {
    color: #fff;
    opacity: 0.33;
    transition: opacity 0.25s ease;
    cursor: pointer;
    text-transform: none;
    letter-spacing: 0;
}

.switch .toggle-outside {
    height: 75%;
    border-radius: 2rem;
    padding: 0.25rem;
    overflow: hidden;
    transition: 0.25s ease all;
}

.switch .toggle-inside {
    border-radius: 5rem;
    background: #4a4a4a;
    position: absolute;
    transition: 0.25s ease all;
}

.switch--horizontal {
    width: 18rem;
    height: 3rem;
    margin: 0;
    font-size: 0;
}

.switch--horizontal input {
    height: 3rem;
    width: 5.4rem;
    left: 6rem;
    margin: 0;
}

.switch--horizontal label {
    font-size: 1.5rem;
    line-height: 3rem;
    display: inline-block;
    width: 6rem;
    height: 100%;
    margin: 0;
    text-align: center;
}

.switch--horizontal label:last-of-type {
    margin-left: 6rem;
}

.switch--horizontal .toggle-outside {
    background: #fff;
    position: absolute;
    width: 5.4rem;
    left: 6rem;
}

.switch--horizontal .toggle-inside {
    height: 1.8rem;
    width: 1.8rem;
}

.switch--horizontal input:checked~.toggle-outside .toggle-inside {
    left: 0.25rem;
}

.switch--horizontal input~input:checked~.toggle-outside .toggle-inside {
    left: 3.25rem;
}

/*-------------------- NAVBAR -------------------------*/

.inv__navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 100px;
    height: 64px;
    margin: 0;
    background-color: currentColor;
    border: none;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .5);
    z-index: 99;
}

.title {
    font-size: 2rem;
    line-height: 3rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.d-flex {
    display: flex;
    align-items: center;
}

/*-------------------- COLOR PICKER -------------------------*/

.color-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: #fff;
    width: 208px;
    height: 48px;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    margin-right: 30px;
}

.color-container .blueSub, .color-container .redSub, .color-container .greenSub, .color-container .purpleSub {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    right: -4px;
    top: -4px;
    transition: all .7s ease;
}

.color-container .blueSub {
    background: rgba(0, 168, 255, 0.2);
}

.color-container .redSub {
    background: rgba(255, 96, 95, 0.2);
    opacity: 0;
}

.color-container .greenSub {
    background: rgba(150, 209, 0, 0.2);
    opacity: 0;
}

.color-container .purpleSub {
    background: rgba(208, 102, 250, 0.2);
    opacity: 0;
}

.color-container .blue, .color-container .red, .color-container .green, .color-container .purple {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 4px;
}

.color-container .blue {
    background: #00a8ff;
}

.color-container .red {
    background: #ff605f;
}

.color-container .green {
    background: #96d100;
}

.color-container .purple {
    background: #d066fa;
}

.color-container .blue:hover, .color-container .red:hover, .color-container .green:hover, .color-container .purple:hover {
    cursor: pointer;
}