{% extends 'base.html.twig' %}

{% block body %}

    <nav class="inv__navbar">
        <div class="title">Qwetle</div>
        <div class="d-flex">
            {% block extra %}{% endblock %}
        </div>
    </nav>

    {% block page_content %}{% endblock %}

{% endblock %}
